@font-face {
    font-family: "DeadKansas";
    src: url("../fonts/Dead_Kansas.ttf");
}

@font-face {
    font-family: "SquadaOne-Regular";
    src: url("../fonts/SquadaOne-Regular.ttf");
}

body,html {
    margin: 0px;
    width: 100%;
    height: 100%;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: url('../img/player/crosshair.cur'), crosshair;
}
.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuField {
    width: 500px;
    height: 400px;
    background: rgba(37, 37, 37, 0.8);
    display: flex;
}

.fieldMenu,.message{
    width: 500px;
    height: 100px;
    font-family: SquadaOne-Regular, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    /*text-shadow: 1px 2px 20px black;*/
    letter-spacing: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fieldMenu:hover {
    background: rgba(54, 54, 54, 0.8);
    cursor: pointer;
}
.fieldMenu:active {
    background: rgba(54, 54, 54, 0.8);
    cursor: pointer;
}
.message:hover {
    cursor: url('../img/player/crosshair.cur'), crosshair;
}
.pauseMenu ,.finishMenu{
    width: 500px;
    height: 600px;
    background: rgba(46, 46, 46, 0.8);
    display: none;
}

.pauseIndicator {
    position: absolute;
    width:30px;
    height: 70px;
    border-left: 15px solid white;
    border-right: 15px solid white;
    top: 20px;
    right: 20px;
    display: none;	
}

.gameOver {
    width: 100%;
    height: 300px;
    font-size: 70px;
    font-weight: 400;
    color: rgb(105, 0, 0);
    text-shadow: 1px 2px 20px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/game-over.jpg');
    font-family: "DeadKansas", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.gameScore {
    widows: 100%;
    height: 100px;
}

.gameName {
    margin-bottom: 30%;
    font-size: 60px;
    color: #000000;
    text-transform: uppercase;
    font-family: "DeadKansas", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.gameWon {
    width: 100%;
    height: 272px;
    font-size: 70px;
    font-weight: 400;
    color: rgb(32, 32, 32);
    text-shadow: 1px 2px 20px rgb(177, 177, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/game-over.jpg') center center no-repeat;
    background-size: 100%;
    font-family: "DeadKansas", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.message {
    font-size: 38px;
    background: rgba(73, 72, 72, 0.8);
    font-family: Arial, Helvetica, sans-serif;
}

.screens {
    display: flex;
    justify-content: space-between;
}